/* 전체 페이지 스타일 */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: #ffffff;
}

/* 제목 스타일 */
p {
    font-size: 24px;
    font-weight: bold;
    margin-top: 0px;
}

/* 폼 스타일 */
.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 100px auto 100px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px; /* 둥근 테두리 */
}

/* 입력 div 스타일 */
.input-div {
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: relative; */
}

/* 입력 필드 스타일 */
input[type="text"] {
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    width: 300px;
    height: 30px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    transition: all 0.2s ease;
}

/* 입력 필드 호버 효과 */
input[type="text"]:hover {
    border-bottom: 1px solid #242121;
    background-color: #f7f7f7;
    border-radius: 7px;
}

/* 입력 필드 포커스 효과 */
input[type="text"]:focus {
    border-bottom: 1px solid #6a6666;
    background-color: #fafafa;
    border-radius: 7px;
    box-shadow: 0 0 20px 0 rgba(7, 31, 245, 0.137), 0 5px 5px 0 rgba(112, 121, 245, 0.108);
}

/* 버튼 스타일 */
#button {
    display: inline-block;
    width: 30px;
    height: 30px;
    color: #242121;
    line-height: 30px;
    font-size: 25px;
    margin: auto;
    cursor: pointer;
    vertical-align: middle; /* 입력창과 세로 정렬 */

    background-color: transparent;
    border:1px solid transparent; 
    -webkit-transition: all 0.3s cubic-bezier(.5, .24, 0, 1);
    transition: all 0.3s cubic-bezier(.5, .24, 0, 1);
}

/* 버튼 애니메이션 */
#button::before {
    content : "";
    position: absolute;
    left: 0px;
    bottom:0px;
    z-index:-1;
    width: 0%;
    height:1px;
    background: #4a4a4a;
    box-shadow: inset 0px 0px 0px #4a4a4a;
    display: block;
    -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
    transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
}

#button:hover::before {
    width: 100%;
}

#button::after {
    content: '';
    position: absolute;
    right: 0px;
    top:0px;
    z-index:-1;
    width: 0%;
    height:1px;
    background: #4a4a4a;
    -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
    transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
}

#button:hover::after {
    width: 100%;
}

/* 버튼 호버 효과 */
#button:hover {
    transform: scale(1.2);
    color: #3a3939;
    border-left:1px solid #4a4a4a;
    border-right:1px solid #4a4a4a;
}

/* 리스트 스타일 */
#list {
    padding-left: 0px;
}

/* 리스트 아이템 스타일 */
#list p {
    list-style: none;
    border-bottom: 1px solid #ccc;
    padding: 17px;
    font-size: 20px;
    text-align: left;
    margin: 0;
    display: flex;
    align-items: center;
    transition: all 0.2s ease;
}

/* 리스트 아이템 호버 효과 */
#list p:hover {
    background-color: #f7f7f7;
    border-radius: 7px;
}

/* 체크박스 스타일 */
#list input[type="checkbox"] {
    margin-right: 10px;
    padding: 5px;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #999;
    transition: all 0.2s ease;
}

/* 체크박스 호버 효과 */
#list input[type="checkbox"]:hover {
    box-shadow: 0 0 5px 0 rgba(112, 121, 245, 0.344), 0 5px 5px 0 rgba(112, 121, 245, 0.344);
}

/* 연필 스타일 */
#list i.fa-pen {
    order: 1;
    margin-left: auto;
    cursor: pointer;
    padding: 3px;
    opacity: 0.8;
    transition: all 0.2s ease;
}

/* 연필 호버 효과 */
#list i.fa-pen:hover {
    transform: scale(1.2);
    color: #3a3939;
}

/* 휴지통 스타일 */
#list i.fa-trash {
    order: 3;
    margin-left: 5px;
    cursor: pointer;
    padding: 3px;
    opacity: 0.8;
    transition: all 0.2s ease;
}

/* 휴지통 호버 효과 */
#list i.fa-trash:hover {
    transform: scale(1.2);
    color: #3a3939;
}

/* 완료 버튼 스타일 */
button.done-button {
    order: 2;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    margin-left: auto;
    padding: 3px;
    white-space: nowrap;

    background-color: transparent;
    border:1px solid transparent; 
    -webkit-transition: all 0.3s cubic-bezier(.5, .24, 0, 1);
    transition: all 0.3s cubic-bezier(.5, .24, 0, 1);
}

/* 완료 버튼 애니메이션 */
button.done-button::before {
    content : "";
    position: absolute;
    left: 0px;
    bottom:0px;
    z-index:-1;
    width: 0%;
    height:1px;
    background: #4a4a4a;
    box-shadow: inset 0px 0px 0px #4a4a4a;
    display: block;
    -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
    transition: all 0.4s cubic-bezier(.5, .24, 0, 1)
}

button.done-button:hover::before {
    width: 100%;
}

button.done-button::after {
    content: '';
    position: absolute;
    right: 0px;
    top:0px;
    z-index:-1;
    width: 0%;
    height:1px;
    background: #4a4a4a;
    -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
    transition: all 0.4s cubic-bezier(.5, .24, 0, 1)
}

button.done-button:hover::after {
    width: 100%;
}

/* 완료 버튼 호버 효과 */
button.done-button:hover {
    transform: scale(1.2);
    color: #3a3939;
    border-left:1px solid #4a4a4a;
    border-right:1px solid #4a4a4a;
}

/* 수정 입력 필드 스타일 */
input.edit-input {
    border: none;
    outline: none;
    width: 200px;
    height: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 18px;
    flex: auto;
    max-width: calc(100% - 105px);
    transition: all 0.2s ease;
}

/* 수정 입력 필드 호버 효과 */
input.edit-input:hover {
    background-color: #e8e8e8;
    border-radius: 7px;
}

/* 수정 입력 필드 포커스 효과 */
input.edit-input:focus {
    background-color: #fafafa;
    border-radius: 7px;
    box-shadow: 0 0 20px 0 rgba(7, 31, 245, 0.137), 0 5px 5px 0 rgba(112, 121, 245, 0.108);
}