<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="/js/home/list.js" defer></script>
    <link rel="stylesheet" href="/css/home/list.css">
    <script src="https://kit.fontawesome.com/9c04839492.js" crossorigin="anonymous"></script>
    <link rel="icon" href="data:,">
    <title>To Do List</title>
</head>
<body>
    <div class="list-page">
        <div class="form">
            <p>To Do List</p>
            <div class="input-div">
                <input id="text" type="text" placeholder="여기에 입력하세요.">
                <p id="button">+</p>
            </div>
            <!-- <i class="fa-solid fa-trash"></i> -->
            <ul id="list"></ul>
            <!-- <i class="fa-solid fa-pen"></i> -->
        </div>
    </div>
</body>
</html>