<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/js/home/todolist.js" defer></script>
    <script src="https://kit.fontawesome.com/def66b134a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home/todolist.css">
</head>
<body>
    <h2>ToDoList</h2>
    <div id="container">
        <div id="box">
            <div id="title">To Do List</div>
            <div id="m-box">
                <div>입력</div>
                <div id="button">
                    <button>+</button>
                </div>
            </div>
            <div id="s-box">
                <div>checkbox</div>
                <div>입력</div>
                <div>수정</div>
                <div>삭제</div>
            </div>
        </div>
    </div>
</body>
</html>