#container {   
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box {
    border: 3px solid red;
    width: 405px;
    /* height: 154px; */
    height: auto;
}

#title {
    margin-left: 22.06px;
    margin-top: 25px;
    width: 101.26px;
    height: 24px;
    font-size: 1em;
}

#m-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #DCDCDC;
    width: 359.24px;
    height: 34px;
    margin-left: 23.88px;
    margin-top: 20px;
}

#button button {
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.s-box {
    width: 359.24px;
    height: auto;
    margin-left: 23.88px;
}

.divItem {
    display: flex;
    border-bottom: 1px solid #DCDCDC;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 6px;
}

#input {
    width: 85%;
    border: none;
}

#button {
    cursor: pointer;
    margin-left: 10px;
    font-size: 30px;
}

.revise {
    position: fixed;
    cursor: pointer;
    background-color: none;
    border: none;
    margin-left: 300px;
    font-size: 15px;
}

.deleteBox {
    position: fixed;
    cursor: pointer;
    background-color: none;
    border: none;
    margin-left: 330px;
    font-size: 15px;
}